* {
    margin: 0 auto;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 9px;
    margin-top: 13px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-align: center;
}

.header-right {
    display: flex;
    align-items: center;
    position: relative;
}

.search-form {
    display: flex;
    margin-left: 10px;
}

.search-field {
    padding-left: 18px;
    margin-top: 13px;
    border-style: solid;
    border-width: 1px;
    border-right-width: 0;
    border-color: #e6e6e6;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 277px;
    height: 38px;
}

.btn-search {
    margin-top: 13px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 40px;
    height: 38px;
    cursor: pointer;
    transition: all 1s;
}

.basket-item {
    position: relative;
    display: inline-block;
}

.cart-button {
    background-color: #008CBA;
    width: 130px;
    height: 38px;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid transparent;
    margin-left: 45px;
    transition: all 1s;
    margin-top: 10px;
}

.cart-button:hover {
    color: #008CBA;
    background-color: white;
    border: 2px solid #008CBA;
}

.product-card-section {
    padding-bottom: 2rem;
    width: 23.125rem;
    height: 475px;
    border: 1px solid rgb(7, 6, 6);
    background-color: #fff;
    position: absolute;
    display: none;
    right: -120px;
    top: 49px;
    border-radius: 5px;
}

.cart-button:hover .product-card-section {
    display: block;
    background-color: rgb(238, 243, 252);
    border: 1px solid rgb(238, 243, 252);
}

.goods-list {
    display: flex;
    cursor: pointer;
    margin-top: 10px;
}

.goods-list {
    cursor: pointer;
    margin-top: 10px;
}

.goods-item:hover {
    border: 3px solid #008CBA;
    border-radius: 10px
}

.goods-item-name,
.goods-item-price {
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.goods-item-name {
    font-size: 20px;
}

.goods-item-price {
    font-size: 20px;
}

.btn-goods-btn {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 25px;
}

.goods-item-content {
    text-align: center;
}

.goods-item-img {
    display: block;
    margin: 0 auto;
}

.btn-goods-btn:hover {
    color: #008CBA;
    background-color: white;
    border: 2px solid #008CBA;
}

.basket-image {
    width: 50px;
    height: 50px;
}

.basket-product {
    padding: 10px;
    display: flex;
}

.basket-desc,
.basket-button {
    padding-left: 10px;
}

.basket-title {
    font-size: 13px;
}

.btn-remove {
    background-color: rgb(163, 163, 163);
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 10px;
}
